{% extends 'layout.html' %}
{% block content %}
    <h2>Taxables</h2>
    <table class="table table-borderless table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">Index</th>
            <th scope="col">Item</th>
            <th scope="col">Cost</th>
            <th scope="col">Tax</th>
            <th scope="col">Total</th>
        </tr>
        </thead>
        <tbody>
        {% for taxable in taxables %}
            <tr>
                <td>{{ taxable['Index'] }}</td>
                <td>{{ taxable['Item'] }}</td>
                <td>{{ taxable['Cost'] }}</td>
                <td>{{ taxable['Tax'] }}</td>
                <td>{{ taxable['Total'] }}</td>
                <td>
                    <a class="btn btn-sm btn-success" href="view/{{ taxable['id'] }}">View</a>
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" href="edit/{{ taxable['id'] }}">Edit</a>
                </td>
                <td>
                    <form action="/delete/{{ taxable['id'] }}" method="post">
                        <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-info" href="new">Add New Taxable</a>
{% endblock %}